@font-face {
	font-family: 'NexaBold';
	src: url('../fonts/Nexa/NexaBold.otf');
	src: url('../fonts/Nexa/NexaBold.eot') format('embedded-opentype'),
	url('../fonts/Nexa/NexaBold.woff') format('woff'),
	url('../fonts/Nexa/NexaBold.ttf') format('truetype'),
	url('../fonts/Nexa/NexaBold.svg#NexaBold') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-SemiBold';
	src: url('../fonts/Raleway/Raleway-SemiBold.otf');
	src: url('../fonts/Raleway/Raleway-SemiBold.eot') format('embedded-opentype'),
	url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
	url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype'),
	url('../fonts/Raleway/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/OpenSans/OpenSans-Light.otf');
	src: url('../fonts/OpenSans/OpenSans-Light.eot') format('embedded-opentype'),
	url('../fonts/OpenSans/OpenSans-Light.woff') format('woff'),
	url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype'),
	url('../fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans/OpenSans-Regular.otf');
	src: url('../fonts/OpenSans/OpenSans-Regular.eot') format('embedded-opentype'),
	url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
	url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
	url('../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url('../fonts/OpenSans/OpenSans-SemiBold.otf');
	src: url('../fonts/OpenSans/OpenSans-SemiBold.eot') format('embedded-opentype'),
	url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
	url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype'),
	url('../fonts/OpenSans/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-Medium';
	src: url('../fonts/Raleway/Raleway-Medium.eot');
	src: url('../fonts/Raleway/Raleway-Medium.eot') format('embedded-opentype'),
	url('../fonts/Raleway/Raleway-Medium.woff') format('woff'),
	url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype'),
	url('../fonts/Raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
